* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//   variables

$primary:#fecd03 !important;
$secondary:#172b4d !important;

//classes

body {
  background-image: linear-gradient(180deg, #0D1846 0%, #861592 100%);
}


.social {
  position: absolute;
  top: 18px;
  right: 52px;
  font-size: 1.5rem;

  i {
    margin-right: 15px;
  }
}

.banner {
  padding-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .item {
    flex: 1;

    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        transform: translateY(22px);
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        line-height: 1;
        color: #fff;

        @media(max-width:600px) {
          font-size: 3rem;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 72px;
      @media(max-width:600px) {
        margin-top: 52px;
      }
    }

    &:nth-child(3) {

      h1 {
        color: #fff;
        font-size: 3rem;
        width: 60%;
        text-align: center;
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        @media(max-width:600px) {
          font-size: 1.9rem;
          margin-top: 41px;
          position: relative;
        }
      }
    }
  }
}

.swiper-container {
  width: 100%;
  //height: 200px;
}

.swiper-slide {
  color: #000;
  text-align: center;
}